@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue: #102136;
  --skyBlue: #5677F6;
  --Manrope: "Manrope"
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue: var(--blue);
  --color-skyBlue: var(--skyBlue);
  --font-Manrope: var(--Manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope";
}



.card:hover .shadow-inner-blue {
  box-shadow: inset 0 0 65px rgb(1, 104, 230);
}

.parallax-bg {
  background-attachment: local; /* simple parallax effect */
  background-position: center;
  transition: transform 0.7s ease-out;
}

/* ROTATING GLOBE ANIMATION  */

.rotate {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* MARQUEE ANIMATION  */
.marquee-track {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 25s linear infinite;
}

.marquee-track.reverse {
  animation-direction: reverse;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}